<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{ url_for('static', filename='script.js') }}" defer></script>
     <link rel="stylesheet" href="css/style.css">
     <script src="script.js" defer></script>

    <title>Web App FireWall </title>
    <meta name="keywords" content="this, is, for, search, engine, optimization">
    <meta name="description" content=" short summary of a webpage’s content. Search engines like Google often use this description in search results to give users a preview of the page before they click on it.">
    <!--Note: for end users, like say a RE company, may enter the description of a property and it gets carried over into the code-->
    <!--same is true with craigslist, facebook marketplace, amazon, the user enters the description stored in a page. Allowing people to preview your link-->

</head>
<body>
    <h1>WebApplication Firewall  and security</h1>

    <!-- Input for sending data -->
    <input type="text" id="userInput" placeholder="Enter text">
    <button onclick="sendData()">Send</button>
    <a href="#" class="btn btn-info btn-icon-split">Button</a>
    <p id="sendResponse"></p>

    <!-- Button to retrieve data -->
    <button onclick="fetchData()">Get Messages</button>
    <ul id="messagesList"></ul>


</body>
</html>